@import "../mixin/mixin";

* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    header {
        background-color: #2C2D2D;
        height: 600px;

        .cont {
            display: flex;
            align-items: center;
            height: 100%;

            .container {
                display: flex;
                flex-wrap: wrap-reverse;
                justify-content: space-between;


                .tcar {
                    h1 {
                        color: white;
                        font-weight: bold;
                    }

                    h3 {
                        color: #FBB034;
                        margin-top: 10px;
                    }

                    h5 {
                        color: #626467;
                        margin-top: 10px;
                        margin-bottom: 30px;
                    }

                    button {
                        color: white;
                    }
                }

                .car1 {
                    width: 40%;

                    img {
                        width: 80%;
                    }
                }
            }

        }


    }

    main {
        height: auto;

        .cont2 {
            background-color: #F3F3F3;

            .container {
                .logo1 {
                    display: flex;
                    justify-content: space-between;
                    padding: 30px 0px;
                    color: #807A7A;

                    img {
                        width: 10%;
                    }
                }
            }

        }

        .logo2 {
            background-color: #F3F3F3;
            height: auto;
            margin-top: 2rem;
            padding: 30px 0px;


            .container {
                height: 100%;
                display: flex;

                justify-content: space-around;
                align-items: center;

                .card {
                    border: none;
                    text-align: center;
                    background-color: #F3F3F3;

                    img {
                        width: 30%;
                        margin-left: 6rem;
                        display: flex;
                        align-items: center;

                    }

                    p {
                        &:first-of-type {
                            font-size: 2rem;
                            font-weight: bold;
                        }
                    }
                }

            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    body {
        header {
            .cont {
                .container {
                    .tcar {
                        text-align: center;
                    }

                    .car1 {
                        width: 100%;
                    }
                }
            }


        }

        main {
            .cont2 {
                .container {
                    .logo1 {
                        h4 {
                            font-size: 1rem;
                        }

                        h5 {
                            font-size: 0.8rem;
                        }

                        img {
                            width: 15%;
                        }
                    }
                }
            }

            .logo2 {
                width: 100%;

                .container {
                    display: flex;
                    flex-wrap: wrap;

                    .card {

                        img {
                            width: 20%;
                        }

                        p {
                            font-size: 0.8rem;

                            &:first-of-type {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    body {
        header {
            .cont {
                .container {
                    .tcar {
                        text-align: center;
                    }

                    .car1 {
                        width: 100%;
                    }
                }
            }
        }

        main {
            .logo2 {
                width: 100%;

                .container {
                    display: flex;
                    flex-wrap: wrap;

                    .card {

                        img {
                            width: 30%;
                        }

                        p {
                            font-size: 1rem;

                            &:first-of-type {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    body {

        main {
            .logo2 {
                width: 100%;

                .container {
                    display: flex;
                    flex-wrap: wrap;

                    .card {

                        img {
                            width: 30%;
                        }

                        p {
                            font-size: 1rem;

                            &:first-of-type {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    body {

        main {
            .logo2 {
                width: 100%;

                .container {
                    display: flex;
                    flex-wrap: wrap;

                    .card {

                        img {
                            width: 30%;
                        }

                        p {
                            font-size: 1rem;

                            &:first-of-type {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}